
    body {
        color: coral;
    }
    a {
        text-decoration-line: none;
        color: red;
    }
    .shadow {
       bow-shadow: 8px 6px 20px darkgrey;
    }
    .gras {
        font-weight: bold;
    }
    .italique {
        font-style: italic;
    }
    p {
        margin: 15px;
        padding: 20px;
        text-indent: 20px;
    }
    .cadre {
        border: 1px solid black;
        height: 500px;
        width: 300px;
    }
    #position {
        float: right;
        float: top;
    }
    li {
        list-style-type: square;
    }
    a:hover {
        cursor: hand;
    }